body{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.button{
  	background-color: #5FB878;
  	padding: 1em 2em;
  	color: #fff;
  	border:0;
}

.button:hover{
  	background-color: #009688;
}

.modal{
	display: none; 
	position:fixed;
	z-index: 1111;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.3);
}

.modal-content{
	background-color: #fff;
	margin:15% auto;
	width: 50%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.18);
	animation:modalopen .3s linear;
}
.modal-header h2,.modal-footer h3{
	margin: 0;
}

.modal-header{
	background-color: #5FB878;
	padding: 15px;
	color: #fff;

}

.closeBtn{
	color: #fff;
	float: right;
	font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


.modal-body{
	padding: 10px 20px;
	max-height: 200px;
	overflow-x: auto;
}

.modal-footer{
	background-color: #5FB878;
	padding: 10px;
	color: #fff;
	text-align: center;
}

@keyframes modalopen{
	from{
		opacity: 0;
		/* IE 4-9 */  
	    filter:alpha(opacity=0); 
	    transform: scale(0.6);
	   /*  transform: translateY(-50px); */
	}
	to{
		opacity: 1;
		/* IE 4-9 */  
	    filter:alpha(opacity=100);
	    transform: scale(1);
	   /*  transform: translateY(0px); */
	}
}